@import 'src/styles/vars';

.login-form {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  @include m1024() {
    width: 80%;
    position: absolute;
    z-index: 10;
  };
}
.login-form-element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include m1024() {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}
.login-form-message {
  text-align: right;
  margin: .3em 1em;
}
.login-form-logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login-form-button {
  font-weight: 700;
  font-size: 1em;
  color: #fff;
  background-color: #5e4949;
  border-radius: .3em;
  border: 0;
  padding: .7em;
  height: 2.5em;
}
