@import 'src/styles/vars';

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page {
  margin-left: 200px;
  animation: slideIn .5s 1 cubic-bezier(.62,1.5,.73,1.36);

  &-title {
    font-size: 1.5em;
    padding: $gutter;
    font-weight: bold;
    background-color: $grey;
  }
}
