$color: rgb(82, 100, 161);
$grey: rgb(233, 227, 227);
$text: rgb(68, 67, 67);

$gutter: 1rem;


// MEDIA QUERIES

@mixin m767($size: 767px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m1024($size: 1024px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m1200($size: 1200px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m1600($size: 1600px) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin m1900($size: 1900px) {
  @media (min-width: $size) {
    @content;
  }
}